<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Circrna Tool</title>
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Circrna Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_circrna">Available Circrna</a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_circall">Available Circall</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_ciri">Available Ciri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_findciri">Available Findcirc</a>
                </li>
                    <a class="nav-link text-white" href="my_circrna">My Circrna</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white" href="circrna_register">New Circrna Register</a>
            </div>
        </div>
    </div>
</nav>
<form>
    <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
        <input type="text" name="circId" class="form-control pull-right" placeholder="Search">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>
<a href="/available_circall" class="btn btn-sm btn-info btn-flat pull-left">Select Dataset Patient</a>


<div class="container my-5 col-md-8">
    <table class="table  table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Circ ID</th>
            <th scope="col">Chr</th>
            <th scope="col">Start Position</th>
            <th scope="col">End Position</th>
            <th scope="col">junction Fragment Count</th>
            <th scope="col">Circ Type</th>
            <th scope="col">Strand</th>
            <th scope="col">non Junction Fragment Count</th>
            <th scope="col">junction Ratio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a: ${ciri}">
            <td th:text="${a.circId}"></td>
            <td th:text="${a.chr}"></td>
            <td th:text="${a.startCirc}"></td>
            <td th:text="${a.endCirc}"></td>
            <td th:text="${a.junctionFragmentCount}"></td>
            <td th:text="${a.circType}"></td>
            <td th:text="${a.strand}"></td>
            <td th:text="${a.nonJunctionFragmentCount}"></td>
            <td th:text="${a.junctionRatio}"></td>
        </tr>

        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>